annotated-types==0.7.0
darkdetect==0.8.0
pydantic==2.13.3
pydantic_core==2.46.3
PyQt6==6.11.0
PyQt6-Fluent-Widgets==1.11.2
PyQt6-Frameless-Window==0.8.1
PyQt6-Qt6==6.11.0
PyQt6_sip==13.11.1
python-frontmatter==1.1.0
pywin32==311
PyYAML==6.0.3
typing-inspection==0.4.2
typing_extensions==4.15.0
